::-webkit-scrollbar {
    width: 6px; 
    height: 6px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3c3c3c;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:#3c3c3c;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px; 
  }
  

  html {
    scrollbar-width: thin; 
    scrollbar-color:#3c3c3c;
  }